* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.incorrect {
  border: 2px dashed red !important;
}
.correct {
  border: 2px solid green !important;
}
.error {
  color: red;
}
.container {
  font-size: 0;
  border: 2px solid black;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
}
.form .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  margin: 10px auto;
}
.form .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  height: 130px;
}
p {
  margin: 10px;
}
#left-column,
#right-column {
  border: 2px solid black;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  vertical-align: top;
  width: 48%;
  height: 80%;
}
#left-column ul li {
  display: block;
}
#submit,
#reset {
  border-radius: 20px;
}
#submit {
  background-color: blue;
  color: white;
}
#reset {
  background-color: red;
  color: white;
}
