* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2,
h3 {
  padding: 10px;
  margin: 10px;
  text-align: center;
}
#product-details {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  vertical-align: top;
}
.product img {
  margin: 10px;
  padding: 10px;
  width: 650px;
  height: 500px;
}
.product p {
  display: inline-block;
  font-size: 40px;
  width: 50%;
  padding: 10px;
  margin: 10px;
  vertical-align: top;
}
.price {
  display: block;
  color: darkblue;
  font-size: 30px;
  padding: 10px;
  margin: 10px auto;
}
/* part2 */
#product-form {
  max-width: 600px;
  padding: 10px;
  margin: 20px auto;
  background-color: #fff;
}
table {
  padding: 10px;
  margin: 10px auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px auto;
}
th {
  background-color: #333;
  color: #fff;
}
input {
  border-collapse: collapse;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  height: 30px;
  border-radius: 20px;
}
input[type="button"] {
  color: #ddd;
  background-color: darkblue;
}
input[type="submit"] {
  background-color: aqua;
width: 100%;
}
